/*

Elegance Template

https://templatemo.com/tm-528-elegance

==================================================
CSS SITEMAP >>>>

  01. GENERAL CSS
  02. HEADER CSS
  03. SOCIAL ICONS CSS
  04. WELCOME BLOCK CSS
  05. ABOUT BLOCK CSS
  06. SERVICES BLOCK CSS
  07. WORK BLOCK CSS
  08. CONTACT BLOCK CSS
  09. TESTIMONOALS BLOCK CSS
  10. SKILLS BLOCK CSS


==================================================*/

/*==============================================
01. GENERAL CSS
================================================*/

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
body {
  font: 16px/1.6 'Montserrat','Noto Sans KR','Raleway', Arial, Helvetica, sans-serif !important;
  color: #fff;
/*  text-align:center; */
/*background: #222;*/
  
}

html {
  -ms-overflow-style: scrollbar;
}
.alltrans,
.social-icons li a,
.owl-nav > button,
.owl-nav > button:after,
.counter-box,
.about-img:after,
.gallery-img img,
.form-control,
.owl-dot,
.subscribe-row,
.close-btn,
.close-btn:before,
.close-btn:after,
.tag-btn,
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
